<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registrations">Registrations</a>
</header>

<section>
<div class = "table">
<form id="addclass" action="/classes" method="post">
<div class = "header">
	<h3>Add class</h3>	
	</div>
			<table>
			<tr>
				<td>Class Name: </td>
				<td><input type="text" id="class_name" name="class_name"></td>
			</tr>
			<tr>
				<td>Department: </td>
				<td><input type="text" id="department" name="department"></td>
			</tr>
			<tr>
				<td>Class Capacity: </td>
				<td><input type="number" id="class_capacity" name="class_capacity"></td>
			</tr>
				<td><input type="submit" id="Submit" value = "Submit"></td>
			</tr>
			</table>
		</form>
	</div>
	<br>
<div class = "header">
                <h3>Current Classes</h3>
                </div>

	<table>
		<thead>
		<table id = "t2">
			<tr>
				<th>Class ID</th>
				<th>Class Name</th>
				<th>Department</th>
				<th>Class Capacity</th>
				<th>Update</th>
			</tr>
		</thead>

		<tbody>
			{{#each classes}}
			<tr>
				<td>{{class_id}}</td>
				<td>{{class_name}}</td>
				<td>{{department}}</td>
				<td>{{class_capacity}}</td>
				<td><a href="/classes/{{class_id}}">Update</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
