<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registrations">Registrations</a>
</header>

<section>
<div class = "table">
<form id="addmajor" action="/majors" method="post">
<div class = "header">
	<p>Add Major:</p>	
	</div>
			<table>
			<tr>
				<td>Major Name:</td> 
				<td><input type="text" id="major_name" name="major_name"></td>
			</tr>
			<tr>
				<td>Department Chair: </td>
				<td><input type="text" id="dept_chair" name="dept_chair"></td>
			</tr>
			<tr>
				<td>Required Units: <td>
				<td><input type="text" id="required_units" name="required_units"></td>
			</tr>
			<tr>
				<td><input type="submit" id="Submit" value = "Submit"></td>
			</tr>
			</table>	
		</form>
	</div>

	<table>
		<thead>
		<table id = "t2">
			<tr>
				<th>Major ID</th>
				<th>Major Name</th>
				<th>Department Chair</th>
				<th>Required Units</th>
				<th>Update</th>
			</tr>
		</thead>

		<tbody>
			{{#each majors}}
			<tr>
				<td>{{major_id}}</td>
				<td>{{major_name}}</td>
				<td>{{dept_chair}}</td>
				<td>{{required_units}}</td>
				<td><a href="/majors/{{major_id}}">Update</a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
