<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registrations">Registration</a>
</header>

<section>
<div class = "table">
<form id="addregistration" action="/registrations" method="post">
<div class = "header">
	<h3>Register a Student:</h3>	
	</div>
			<table>
			<tr>
				<td>Student: </td>
				<td><select id="reg_student_id" name="reg_student_id"> 
        			{{#each studentRegistrations}}
        			<option value="{{student_id}}">{{student_id}}, {{student_fname}} {{student_lname}}</option>
        			{{/each}}
    				</select>
				</td>
			</tr>
			<tr>
				<td>Class: </td>
				<td><select id="reg_class_id" name="reg_class_id"> 
        			{{#each classRegistrations}}
        			<option value="{{class_id}}">{{class_id}}, {{class_name}}</option>
        			{{/each}}
    				</select>
				</td>
			</tr>
				<td><input type="submit" id="Submit" value = "Submit"></td>
			</tr>
			</table>
		</form>
	</div>

	<br>
	<form id="showclasslist" action="/registrations/{{reg_class_id}}" method="get"></form>
     <div class = "header">
        <h3>Search for Class Registration List:</h3>
        </div>
        <table>
            <tr>
				<td>Class: </td>
				<td><select id="reg_class_id" name="reg_class_id"> 
        			{{#each registrations}}
        			<option value="{{reg_class_id}}">{{reg_class_id}}, {{class_name}}</option>
        			{{/each}}
    				</select>
				</td>
            </tr>
            <tr>
                <td><input type="button" id="Submit" value="Submit"></td>
            </tr>
        </table>
    </form>

    <br>

	<br>
	<form id="showstudentschedule" action="/registrations/{{reg_student_id}}" method="get"></form>
     <div class = "header">
        <h3>Search for Student Class Schedule:</h3>
        </div>
        <table>
            <tr>
				<td>Student: </td>
				<td><select id="reg_student_id" name="reg_student_id"> 
        			{{#each registrations}}
        			<option value="{{reg_student_id}}">{{reg_student_id}}, {{student_fname}} {{student_lname}}</option>
        			{{/each}}
    				</select>
				</td>
            </tr>
            <tr>
                <td><input type="button" id="Submit" value="Submit"></td>
            </tr>
        </table>
    </form>

    <br>
  <div class = "header">
                <h3>Current Registrations</h3>
                </div>
  	
	<table>
		
		<thead>
		<table id = "t2">
			<tr>
				<th>Registration ID</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Class ID</th>
				<th>Class Name</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			{{#each registrations}}
			<tr>
				<td>{{registration_id}}</td>
				<td>{{reg_student_id}}</td>
				<td>{{student_fname}} {{student_lname}}</td>
				<td>{{reg_class_id}}</td>
				<td>{{class_name}}</td>
				<td><button onclick="deleteRegistration({{registration_id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>
