<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registrations">Registrations</a>
</header>

<section>
<div class = "header">
        <h3>Search Results</h3>
		<p> Class Schedule for {{studentScheduleName.student_fname}} {{studentScheduleName.student_lname}}, {{studentScheduleName.reg_student_id}}</p>
</div>
	<table>
		<thead>
		<table id = "t2">
			<tr>
				<th>Class ID</th>
				<th>Class Name</th>
			</tr>
		</thead>

		<tbody>
			{{#each studentRegistrationSchedule}}
			<tr>
				<td>{{reg_class_id}}</td>
				<td>{{class_name}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</section>