<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registration">Registration</a>
</header>

<h1>Current Students</h1>
    	
<table>
		<caption>Students<caption>
		<thead>
		<table id = "t2">
			<tr>
				<th>Student ID</th>
				<th>Major ID</th>
				<th>Dorm ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>GPA</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			{{#each students}}
			<tr>
				<td>{{student_id}}</td>
				<td>{{major_id}}</td>
				<td>{{dorm_id}}</td>
				<td>{{student_fname}}</td>
				<td>{{student_lname}}</td>
				<td>{{email}}</td>
				<td>{{gpa}}</td>
           			<td><a href="/students/{{id}}">Update</a></td>
				<td><button onclick="deleteStudent({{id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>

		<form id="addstudent" action="/students" method="post">
    		First name: <input type="text" name="student_fname"><br>
    		Last name: <input type="text" name="student_lname"><br>
    		Dorm: <select name="dorm_id"> 
        		{{#each dorms}}
        		<option value="{{dorm_id}}">{{dorm_name}}</option>
        		{{/each}}
    		</select><br>
			Major: <select name="major_id"> 
				<option value=NULL>No Major</option>
        		{{#each majors}}
        		<option value="{{major_id}}">{{major_name}}</option>
        		{{/each}}
    		</select><br>
    		Email: <input type="text" name="email"><br>
			GPA: <input type="number" name="gpa"><br>
    		<input type="submit" value="Submit">
    	</form>
	</table>
</section>
