<header>
        <nav class="navBar">
                        <a href="/">Home</a>
                        <a href="/students">Students</a>
                        <a href="/majors">Majors</a>
                        <a href="/classes">Classes</a>
                        <a href="/dorms">Dorms</a>
                        <a href="/registrations">Registrations</a>
                        <a href="/seach-schedules">Search Schedules</a>
</header>

<section>
<div class = "table">
<form id="update-dorm" action="/dorms" method="patch">
<div class = "header">
        <p>Update dorm: {{dorm.dorm_name}}</p>
        </div>
                        <table>
                        <tr>
                                <td>Dorm Name: </td>
                                <td><input type="text" id="dorm_name" name="dorm_name" value="{{dorm.dorm_name}}"></td>
                        </tr>
                        <tr>
                                <td>Address: </td>
                                <td><input type="text" id="dorm_address" name="dorm_address" value="{{dorm.dorm_address}}"></td>
                        </tr>
                        <tr>
                                <td>Dorm Capacity: </td>
                                <td><input type="number" id="dorm_capacity" name="dorm_capacity" value="{{dorm.dorm_capacity}}"></td>
                        </tr>
                        <td> <button onclick="updateDorm({{dorm.dorm_id}})">Update</button></td>

                        </table>
                </form>

        </div>
