<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/majors">Majors</a>
			<a href="/classes">Classes</a>
			<a href="/dorms">Dorms</a>
			<a href="/registration">Registration</a>
</header>

<section>
<div student = "table">
<form id="addstudent" action="/students" method="post">
<div student = "header">
	<p>Update {{student.student_fname}} {{student.student_lname}}:</p>	
	</div>
			<table>
			<tr>
				<td>Student First Name: </td>
				<td><input type="text" id="student_fname" name="student_fname"></td>
			</tr>
			<tr>
				<td>Student Last Name: </td>
				<td><input type="text" id="student_lname" name="student_lname"></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><input type="text" id="email" name="email"></td>
			</tr>
			<tr>
				<td>GPA: </td>
				<td><input type="number" id="gpa" name="gpa"></td>
			</tr>
			<tr>
				<td>Major: </td>
				<td><select name="major_id" id-"major-selector"> 
					<option value=NULL>No Major</option>
        			{{#each majors}}
        			<option value="{{major_id}}">{{major_name}}</option>
        			{{/each}}
    				</select>
				</td>
			</tr>
			<tr>
				<td>Dorm: </td>
				<td><select name="dorm_id" id="dorm-selector"> 
        			{{#each dorms}}
        			<option value="{{dorm_id}}">{{dorm_name}}</option>
        			{{/each}}
    				</select>
				</td>
            </tr>
			</table>
		</form>
        <button onclick="updateStudent({{student.student_id}})">Update</button>
	</div>

<script defer>selectDorm({{student.dorm_id}});</script>
<script defer>selectMajor({{student.major_id}});</script>